@model TAT001.Entities.TSOL

@{
    ViewBag.pagina_r = 641;
    ViewBag.carpeta_r = 500;
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
    }

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="col s6 ">
            <div class="card-panel">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s6 ">
            <div class="card-panel">
                <h5>Traducciones</h5>
                <div class="row">
                    @foreach (var item in Model.TSOLTs)
                    {
                        <div class=" input-field col s12">
                            @Html.EditorFor(modelItem => item.TXT020, null, item.SPRAS_ID, new { htmlAttributes = new { @id = "A" + item.SPRAS_ID, @readonly = "readonly" } })
                            <label for="@("A"+item.SPRAS_ID)">@item.SPRA.DESCRIPCION</label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col s6 ">
            <div class="card-panel">
                <h5>Soportes</h5>
                <div class="row">
                   <div><a href="@Url.Action("Index", "CONSOPORTE", new { tsol = Model.ID})" class="btn-small">Soportes</a></div>
                </div>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
