@model TAT001.Entities.USUARIO

@{
    //ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 601;
    ViewBag.carpeta_r = 500;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col s12 l12 right-align">
            <a class="btn" href="@Url.Action("Pass", new { id = Model.ID})">Cambiar contraseña</a>
            <a class="btn" href="@Url.Action("Edit", new { id = Model.ID})">Editar</a>
        </div>
    </div>
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.PASS)
        @*<div class="input-field col s6">
                        @Html.PasswordFor(model => model.PASS, new { htmlAttributes = new { @disabled= "disabled" } })
                        @Html.LabelFor(model => model.PASS, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.PASS, "", new { @class = "text-danger" })
                    <div class="input-field col s6">
                        <div style="height:54px;"></div>
                    </div>
            </div>*@
        <div class="col l6 s12">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @disabled = "disabled" } })
                        @Html.LabelFor(model => model.NOMBRE, htmlAttributes: new { @id = "lbl_nombre" })
                        @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.APELLIDO_P, new { htmlAttributes = new { @disabled = "disabled" } })
                        @Html.LabelFor(model => model.APELLIDO_P, htmlAttributes: new { @id = "lbl_appPat" })
                        @Html.ValidationMessageFor(model => model.APELLIDO_P, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.APELLIDO_M, new { htmlAttributes = new { @disabled = "disabled" } })
                        @Html.LabelFor(model => model.APELLIDO_M, htmlAttributes: new { @id = "lbl_appMat" })
                        @Html.ValidationMessageFor(model => model.APELLIDO_M, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @disabled = "disabled" } })
                        @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @id = "lbl_email" })
                        @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field col s6">
                        @Html.EditorFor(model => model.SPRAS_ID, null, new { htmlAttributes = new { @disabled = "disabled" } })
                        <label id="lbl_spras">SPRAS</label>
                        @Html.ValidationMessageFor(model => model.SPRAS_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 s12">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.PUESTO.PUESTOTs.Where(a => a.SPRAS_ID.Equals("ES")).FirstOrDefault().TXT50, null, new { htmlAttributes = new { @disabled = "disabled" } })
                        @Html.LabelFor(model => model.PUESTO_ID, "PUESTO_ID", htmlAttributes: new { @id = "lbl_puesto" })
                        @Html.ValidationMessageFor(model => model.PUESTO_ID, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="input-field col s12">
                            @Html.EditorFor(model => model.MIEMBROS.FirstOrDefault().ROL.ROLTs.Where(a => a.SPRAS_ID.Equals("ES")).FirstOrDefault().TXT50, null, new { htmlAttributes = new { @disabled = "disabled" } })
                            @Html.LabelFor(model => model.MIEMBROS, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationMessageFor(model => model.MIEMBROS, "", new { @class = "text-danger" })
                        </div>*@

                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.BUNIT, new { htmlAttributes = new { @disabled = "disabled" } })
                        @Html.LabelFor(model => model.BUNIT, htmlAttributes: new { @id = "lbl_bukrs" })
                        @Html.ValidationMessageFor(model => model.BUNIT, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <script>
            var elem = document.querySelectorAll('select');
            var options = [];
            var instance = M.Select.init(elem, options);
        </script>
        <div class="col l6 s12">
            <div class="card-panel">
                <div class="row">
                    <h5>Grupos</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Solciedad</th>
                                <th>País</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GAUTORIZACIONs)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CLAVE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BUKRS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LAND)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col l6 s12">
            <div class="card-panel">
                <div class="row">
                    <h5>Roles</h5>
                    <table class="table">
                        <thead><tr><th>Rol</th></tr></thead>
                        <tbody>
                            @foreach (var item in Model.MIEMBROS)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ROL.ROLTs.Where(a => a.SPRAS_ID.Equals(Session["spras"].ToString())).FirstOrDefault().TXT50)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
