@model TAT001.Entities.WORKFH

@{
    //ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 103;
    ViewBag.carpeta_r = 100;
}

<h2>@*Details*@</h2>

<div>
    <h4>@*WORKFH*@</h4>
    <div class="row">
        <div class="input-field col s4">
            @Html.EditorFor(model => model.WORKFVs.First().VERSION, new { htmlAttributes = new { @disabled = "disabled" } })
            @Html.LabelFor(model => model.WORKFVs.First().VERSION)
        </div>
        <div class="input-field col s4">
            @Html.EditorFor(model => model.WORKFVs.First().USUARIO_ID, new { htmlAttributes = new { @disabled = "disabled" } })
            @Html.LabelFor(model => model.USUARIO_ID)
        </div>
        <div class="input-field col s4">
            @Html.EditorFor(model => model.WORKFVs.First().FECHAC, new { htmlAttributes = new { @type = "text", @disabled = "disabled" } })
            @Html.LabelFor(model => model.FECHAC)
        </div>
        <div class="input-field col s4">
            @Html.EditorFor(model => model.WORKFVs.First().WORKFTs.First().TXT50, new { htmlAttributes = new { @type = "text", @disabled = "disabled" } })
            @Html.LabelFor(model => model.WORKFVs.First().WORKFTs.First().TXT50)
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="table">
                <thead>
                    <tr>
                        <th>POS</th>
                        <th>ENCARGADO</th>
                        <th>Acción</th>
                        <th>Siguiente paso</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.WORKFVs.First().WORKFPs)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.POS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AGENTE_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ACCION.DESCCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NEXT_STEP)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
