@model TAT001.Entities.USUARIO

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm(@*"Login", "Home", FormMethod.Post*@))
{

<div class="row">
    <div class="col s12 m6 l3 offset-m3 offset-l4">
        <div class="card horizontal hoverable">
            <div class="card-stacked">
                <div class="card-content">

                    <h4>Login</h4>
                    @*<fieldset>*@

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.TextBoxFor(a => a.ID)
                            @Html.LabelFor(a => a.ID)
                            @*@Html.ValidationMessageFor(a => a.ID)*@
                        </div>
                        <div class="input-field col s12">
                            @Html.PasswordFor(a => a.PASS)
                            @Html.LabelFor(a => a.PASS)
                            @*@Html.ValidationMessageFor(a => a.PASS)*@
                        </div>
                    </div>
                    @if (@ViewBag.Message != null)
                    {
                        <div style="border: 1px solid red">
                            @ViewBag.Message
                        </div>
                    }
                    @*</fieldset>*@
                </div>
                <div class="card-action">
                    <input type="submit" value="Login" class="btn" />
                </div>
            </div>
        </div>
    </div>
</div>
}

