@model IEnumerable<TAT001.Entities.TREVERSA>

@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 781;
    ViewBag.carpeta_r = 500;
}
<div class="row">
    <div class="col s12 right-align">
        @* Texto, pagina a ligar "NOMBRE", View *@
        @Html.ActionLink("Crear Nuevo", "Create", "Trv", null, new { @class = "btn-small" })
        @using (Html.BeginForm("Descargar", "Trv", FormMethod.Post, new { @style = "display:initial;" }))
        {
            <button id="btnExport" name="excel" class="btn-small" type="submit" value="Excel"></button>
        }
    </div>
</div>
<div class="col 12 s12 ">
    <div class="card-panel">
        <table class="table mdl-data-table striped" id="table" style="width:100%;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DESCRIPCION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.USUARIOC_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FECHAC)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESCRIPCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USUARIOC_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FECHAC)
                    </td>
                    <td>
                        <a data-form-method="post" href="@Url.Action("Edit", "Trv", new { id = item.ID })">
                            <i class='material-icons green-text'>edit</i>
                        </a>
                        <a data-form-method="post" href="@Url.Action("Details", "Trv", new { id = item.ID })">
                            <i class='material-icons blue-text'>search</i>
                        </a>
                    </td>
                </tr>
            }

        </table>
        <div class="row"></div>
        <div class="row"></div>
    </div>
</div>

