@model TAT001.Entities.PRESUPUESTOH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PRESUPUESTOH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.PASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.PASS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
