@model IEnumerable<TAT001.Entities.PROVEEDOR>
@{
    ViewBag.pagina_r = 771;
    ViewBag.carpeta_r = 500;
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col s12 right-align">
        @* Texto, pagina a ligar "NOMBRE", View *@
        @Html.ActionLink("Agregar Pagina", "Create", "Proveedor", new { @class = "btn-small" })
        @using (Html.BeginForm("Descargar", "Proveedor", FormMethod.Post, new { @style = "display:initial;" }))
        {
            <button id="btnExport" name="excel" class="btn-small" type="submit" value="Excel"></button>
        }
    </div>
</div>
<div class="col 12 s12 ">
    <div class="card-panel">
        <div class="row">
            <table class="table mdl-data-table striped" id="table" style="width:100%;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NOMBRE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SOCIEDAD_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PAIS_ID)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SOCIEDAD_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PAIS_ID)
                            </td>
                            <td>
                                <a data-form-method="post" href="@Url.Action("Edit", "Proveedor", new { id = item.ID})">
                                    <i class='material-icons green-text'>edit</i>
                                </a>
                                <a data-form-method="post" href="@Url.Action("Details", "Proveedor", new { id = item.ID})">
                                    <i class='material-icons blue-text'>search</i>
                                </a>
                                <a data-form-method="post" href="@Url.Action("Delete", "Proveedor",new { id = item.ID})">
                                    <i class='material-icons red-text'>delete</i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
