@model TAT001.Entities.DOCUMENTO

@if (Model.DOCUMENTOREC != null)
{

    for (var i = 0; i < Model.DOCUMENTOREC.Count; i++)
    {
        <tr>

            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].POS)
            </td>

            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].POS)
            </td>

            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].FECHAP)
            </td>

            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].MONTO_BASE)
            </td>

            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].PORC)
            </td>


        </tr>
    }
}